ul {
    list-style: none;
}

a{
    text-decoration: none;
}

.stories{
    background-color:brown;
    color: white;
    text-align: center;
}

nav.navbar {
    background-color:brown;
}

main{
    background-color: white;
}

.img-producto{
    margin: 5vh;
}

.img{
    transform: scale(1,1);
    transition: all 1s;
}

.img:hover {
    padding: 5px;
    background-color: brown;
}
